@import url("http://fonts.googleapis.com/css?family=Pinyon+Script");
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}


/*@-webkit-keyframes pulse {
    0% {
        background: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #000000 99%, #FF0000 100%);;
    }
    5% {
        background: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #000000 89%, #FF0000 100%); ;
    }
    10% {
        background: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #000000 70%, #FF0000 100%);;
    }
    15% {
        bbackground: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #000000 57%, #FF0000 100%);
    }
    20% {
        background: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #000000 45%, #FF0000 100%);
    }
    25% {
        background: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #000000 37%, #FF0000 100%); 
    }
    30% {
        background: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #000000 33%, #FF0000 100%);
    }
    35% {
        background: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #000000 26%, #FF0000 100%);
    }
    40% {
        background: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #000000 17%, #FF0000 100%);
    }
    45% {
        background: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #000000 13%, #FF0000 100%);
    }
    50% {
        background: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #000000 9%, #FF0000 100%);
    }
}*/

body {
    background-color: black;
   /* -webkit-animation: pulse 25s ease infinite alternate;*/
   transition: all 2s ease;

}


#container {
    color: white;
    font: 64px/64px Pinyon Script;
    height: 100%;
    position: relative;
    /*top: 50%;
    /*margin-top: -32px;*/
    text-align: center;
    line-height: 12em;
    transition: all 5s ease;

}


@media (min-width: 600px) {
    .container {
        font-size: 5em;
        min-width: 500px;
    }
}
@media (min-width: 1024px) {
    .container {
        font-size: 10em;
        min-width: 800px;
    }
}


